.jumbotron
  .container
    %h1 理想の家庭教師を探そう
    %p 「Presto」は、優秀な家庭教師が活躍できるプラットフォームです。

    %p
      = link_to 'Facebookで登録 / ログイン', '#', class: 'btn btn-primary fb-register'
      = link_to 'サービスをもっと知る', about_path, class: 'btn btn-success'

.container

  %h3 エリアから探す

  = form_tag(teachers_path) do
    .input-group
      = text_field_tag(:teacher_area, '', class: 'form-control')
      %span.input-group-btn= submit_tag('探す', class: 'btn btn-success')

  %h3 大学から探す

  = form_tag(teachers_path) do
    .input-group
      = text_field_tag(:teacher_area, '', class: 'form-control')
      %span.input-group-btn= submit_tag('探す', class: 'btn btn-success')
