- provide(:title, 'メッセージ')

%table.table.table-bordered
  %thead
    %tr
      - if current_user.is_teacher?
        %th Student
      - else
        %th Teacher
      %th Message

  %tbody
    - @messages.each do |message|
      %tr
        - if current_user.is_teacher?
          %td= message.student_id
        - else
          %td= message.teacher_id
        %td= message.message

%h3 新規メッセージ

= form_for Message.new do |f|
  .field
    = f.text_area :message, class: 'form-control'

  = f.hidden_field_tag 'message[teacher_id]', @teacher_id
  = f.hidden_field_tag 'message[student_id]', @student_id
  .actions
    = f.submit 'Send', class: 'btn btn-success'
