- provide(:title, 'Prestoにログイン')

.col-sm-6
  .panel.panel-default
    .panel-heading
      ソーシャルアカウント
    .panel-body
      = link_to 'Facebookで新規登録 / ログイン', '#', class: 'btn btn-primary fb-register'

.col-sm-6
  .panel.panel-default
    .panel-heading
      メールアドレスでログイン

    .panel-body
      = form_for(:session) do |f|
        -# = render('shared/error_messages', object: @user)

        .field.form-group
          = f.label :email
          = f.text_field :email, class: 'form-control'

        .field.form-group
          = f.label :password
          = f.password_field :password, class: 'form-control'

        .actions
          = f.submit 'ログイン', class: 'btn btn-success'
          または
          = link_to 'メールアドレスで新規登録', new_user_path

.modal
  = form_for(@user) do |f|
    .field.form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'

    .field.form-group
      = f.label :email
      = f.text_field :email, class: 'form-control'

    .field.form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'

    .actions
      = f.submit 'ログイン', class: 'btn btn-success'
