- provide(:title, 'プロフィールの編集')

= form_for @user, html: { multipart: true } do |f|
  = render('shared/error_messages', object: f.object)

  .field.form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  %h3 サービスタイプ
  .field.form-group
    = f.radio_button :is_teacher, 0, checked: !@user.is_teacher
    = f.label :is_teacher, '家庭', for: 'user_is_teacher_0'

  .field.form-group
    = f.radio_button :is_teacher, 1, checked: @user.is_teacher
    = f.label :is_teacher, '教師', for: 'user_is_teacher_1'


  - if @user.is_teacher
    - edit_teacher_area_class_name = ''
  - else
    - edit_teacher_area_class_name = 'hided'

  #edit-teacher-area(class="#{edit_teacher_area_class_name}")
    %h3 教師情報

    = f.label :avatar
    .container
      .pull-left
        = image_tag @user.avator_url(:thumb)
      .field.form-group
        = f.file_field :avatar
    .field.form-group
      = f.radio_button :sex, 1, checked: @user.male?
      = f.label :sex, '男性', for: 'user_sex_1'
    .field.form-group
      = f.radio_button :sex, 2, checked: @user.female?
      = f.label :sex, '女性', for: 'user_sex_2'
    .field.form-group
      = f.label :birth_day
      = f.date_field :birth_day, class: 'form-control'
    .field.form-group
      = f.label :educational_background
      = f.text_field :educational_background, class: 'form-control'
    .field.form-group
      = f.label :vision
      = f.text_area :vision, class: 'form-control'
    .field.form-group
      = f.label :strength
      = f.text_field :strength, class: 'form-control'

    %h3 勤務可能時間帯
    .field.form-group.table-responsive
      %table.table.table-bordered
        %thead
          %th 時間帯
          %th 月曜日
          %th 火曜日
          %th 水曜日
          %th 木曜日
          %th 金曜日
          %th 土曜日
          %th 日曜日
        %tbody
          %tr
            %td 午後（13:00~16:00）
            %td= f.check_box :shift_monday_afternoon, class: 'form-control'
            %td= f.check_box :shift_tuesday_afternoon, class: 'form-control'
            %td= f.check_box :shift_wednesday_afternoon, class: 'form-control'
            %td= f.check_box :shift_thursday_afternoon, class: 'form-control'
            %td= f.check_box :shift_friday_afternoon, class: 'form-control'
            %td= f.check_box :shift_saturday_afternoon, class: 'form-control'
            %td= f.check_box :shift_sunday_afternoon, class: 'form-control'
          %tr
            %td 夕方（16:00~19:00）
            %td= f.check_box :shift_monday_evening, class: 'form-control'
            %td= f.check_box :shift_tuesday_evening, class: 'form-control'
            %td= f.check_box :shift_wednesday_evening, class: 'form-control'
            %td= f.check_box :shift_thursday_evening, class: 'form-control'
            %td= f.check_box :shift_friday_evening, class: 'form-control'
            %td= f.check_box :shift_saturday_evening, class: 'form-control'
            %td= f.check_box :shift_sunday_evening, class: 'form-control'
          %tr
            %td 夜間（19:00~21:00）
            %td= f.check_box :shift_monday_night, class: 'form-control'
            %td= f.check_box :shift_tuesday_night, class: 'form-control'
            %td= f.check_box :shift_wednesday_night, class: 'form-control'
            %td= f.check_box :shift_thursday_night, class: 'form-control'
            %td= f.check_box :shift_friday_night, class: 'form-control'
            %td= f.check_box :shift_saturday_night, class: 'form-control'
            %td= f.check_box :shift_sunday_night, class: 'form-control'

  .actions
    = f.submit '保存', class: 'btn btn-primary'
