- provide(:title, 'プロフィールの編集')

= form_for(@user, html: { multipart: true }) do |f|
  = render('shared/error_messages', object: f.object)

  %h3 サービスタイプ
  .field.form-group
    = f.radio_button :is_teacher, 1, checked: @user.is_teacher
    = f.label :is_teacher, '教師', for: 'user_is_teacher_1'

  .field.form-group
    = f.radio_button :is_teacher, 0, checked: !@user.is_teacher
    = f.label :is_teacher, '家庭', for: 'user_is_teacher_0'

  %h3 基本情報
  .field.form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .field.form-group
    = f.label :birth_day
    = f.date_field :birth_day, class: 'form-control'

  .container
    .pull-left
      = image_tag avator_url(@user)

    .field.form-group
      = f.label :image
      = f.file_field :image


  %h3 教師情報
  .field
    = f.label :educational_background
    = f.text_field :educational_background, class: 'form-control'
  .field
    = f.label :vision
    = f.text_area :vision, class: 'form-control'
  .field
    = f.label :strength
    = f.text_field :strength, class: 'form-control'
  .field
    = f.label :shift_id
    = f.number_field :shift_id, class: 'form-control'
  .actions
    = f.submit '保存', class: 'btn btn-primary'
