- provide(:title, 'プロフィールの編集')

= nested_form_for @user, html: { multipart: true , class: 'form-horizontal'}  do |f|
  = render('shared/error_messages', object: f.object)

  .panel.panel-default
    .panel-heading
      基本情報
    .panel-body
      .form-group
        .col-sm-4
          = f.label :name
        .col-sm-8
          = f.text_field :name, class: 'form-control'

      .form-group
        .col-sm-4
          %b サービスタイプ
        .col-sm-8
          .radio-inline
            = f.radio_button :is_teacher, 0, checked: !@user.is_teacher
            = f.label :is_teacher, '家庭', for: 'user_is_teacher_0'

          .radio-inline
            = f.radio_button :is_teacher, 1, checked: @user.is_teacher
            = f.label :is_teacher, '教師', for: 'user_is_teacher_1'

      .form-group
        .col-sm-4
          = f.label :avatar
        .col-sm-8
          .pull-left
            = image_tag @user.avator_url(:thumb)
          = f.file_field :avatar


  - if @user.is_teacher
    - edit_teacher_area_class_name = ''
  - else
    - edit_teacher_area_class_name = 'hided'

  #edit-teacher-area.panel.panel-default(class="#{edit_teacher_area_class_name}")
    .panel-heading
      教師情報
    .panel-body
      .form-group
        .col-sm-4
          %b 性別
        .col-sm-8
          .radio-inline
            = f.radio_button :sex, 1, checked: @user.male?
            = f.label :sex, '男性', for: 'user_sex_1'
          .radio-inline
            = f.radio_button :sex, 2, checked: @user.female?
            = f.label :sex, '女性', for: 'user_sex_2'
      .form-group
        .col-sm-4
          = f.label :birth_day
        .col-sm-8
          = f.date_field :birth_day, class: 'form-control'
      .form-group
        .col-sm-4
          = f.label :educational_background
        .col-sm-8
          = f.text_field :educational_background, class: 'form-control'
      .form-group
        .col-sm-4
          = f.label :vision
        .col-sm-8
          = f.text_area :vision, class: 'form-control'
      .form-group
        .col-sm-4
          = f.label :strength
        .col-sm-8
          = f.text_field :strength, class: 'form-control'

  .panel.panel-default
    .panel-heading
      勤務可能時間帯
    .panel-body
      .form-group
        = collection_select :user, :shift_ids, Shift.all, :id, :name,
          {}, multiple: true, selected: true, class: 'select2 form-control'

  .actions
    = f.submit '保存', class: 'btn btn-primary'
