- provide(:title,  '教師検索結果')

.col-sm-3
  = search_form_for @q, class: 'form-horizontal' do |f|
    .form-group
      学歴
      = f.search_field :educational_background_cont, class: 'form-control'

    .form-group
      何歳から
      = f.number_field :birth_day_to_age_gteq, class: 'form-control'
    .form-group
      何歳まで
      = f.number_field :birth_day_to_age_lteq, class: 'form-control'

    .form-group
      シフト
      -# TODO: selected の @users_shift_ids がページネーション中にnilになるので、@qから取得する
      = select_tag :users_shift_id,
        options_for_select(Shift.pluck(:name, :id), selected: @users_shift_ids),
        multiple: true, include_blank: '', class: 'form-control'

    .form-group
      キーワード
      = f.search_field :name_or_educational_background_or_strength_or_vision_cont,
        class: 'form-control'

    = f.submit class: 'btn btn-success'

%p &nbsp;


.col-sm-9
  = will_paginate @users, params: { q: @q }
  - if @users
    - @users.each do |user|
      .panel.panel-info
        .panel-heading
          = user.educational_background
        .panel-body
          %h3
            = link_to user.name, user_path(user), target: '_blank'
            &nbsp;
            %small
              = user.age
              歳
          %p= user.vision
          %p= user.strength

          -#TODO: シフト %p= user.shift_monday_afternoon

  - else
    %p 対象のユーザーは見つかりませんでした
  = will_paginate @users, params: { q: @q }
