%h1 プロフィール編集

%table
  %thead
    %tr
      %th Name
      %th Age
      %th Educational background
      %th Vision
      %th Strength
      %th Shift
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.age
        %td= user.educational_background
        %td= user.vision
        %td= user.strength
        %td= user.shift_id
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
