- provide(:title, @user.name)

%p
  %b 名前:
  = @user.name
%p
  %b 年齢:
  = @user.age
%p
  %b 学歴:
  = @user.educational_background
%p
  %b なりたい教師像:
  = @user.vision
%p
  %b 得意領域:
  = @user.strength
%p
  %b 勤務可能時間帯:
  = @user.shift_id

- if current_user.id == @user.id
  = link_to 'プロフィールを編集する', edit_user_path(current_user), class: 'btn btn-primary'
- else
  = link_to 'お気に入り追加', '#', class: 'btn btn-default'
  = link_to 'メッセージを送信', '#', class: 'btn btn-success'
