- provide(:title, 'あなたのプロフィール')

%p#notice= notice

%p
  %b 名前:
  = @user.name
%p
  %b 年齢:
  = @user.age
%p
  %b 学歴:
  = @user.educational_background
%p
  %b なりたい教師像:
  = @user.vision
%p
  %b 得意領域:
  = @user.strength
%p
  %b 勤務可能時間帯:
  = @user.shift_id

= link_to 'Edit', edit_user_path(@user)
