- provide(:title, 'プロフィールの編集')

= form_for @teacher do |f|
  - if @teacher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@teacher.errors.count, "error")} prohibited this teacher from being saved:"
      %ul
        - @teacher.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .field
    = f.label :age
    = f.number_field :age, class: 'form-control'
  .field
    = f.label :educational_background
    = f.text_field :educational_background, class: 'form-control'
  .field
    = f.label :vision
    = f.text_field :vision, class: 'form-control'
  .field
    = f.label :strength
    = f.text_field :strength, class: 'form-control'
  .field
    = f.label :shift_id
    = f.number_field :shift_id, class: 'form-control'
  .actions
    = link_to 'Back', teacher_path(@teacher), class: 'btn btn-default'
    = f.submit 'Save', class: 'btn btn-primary'
