- provide(:title,  '教師検索結果')

%table.table.table-bordered
  %thead
    %tr
      %th 教師名
      %th 年齢
      %th 学歴
      %th なりたい教師像
      %th 得意領域
      %th シフト

  %tbody
    - @teachers.each do |teacher|
      %tr
        %td= link_to teacher.name, teacher_path(teacher)
        %td= teacher.age
        %td= teacher.educational_background
        %td= teacher.vision
        %td= teacher.strength
        %td= teacher.shift_id
