%h1 プロフィール編集

%table
  %thead
    %tr
      %th Name
      %th Age
      %th Educational background
      %th Vision
      %th Strength
      %th Shift
      %th
      %th
      %th

  %tbody
    - @teachers.each do |teacher|
      %tr
        %td= teacher.name
        %td= teacher.age
        %td= teacher.educational_background
        %td= teacher.vision
        %td= teacher.strength
        %td= teacher.shift_id
        %td= link_to 'Show', teacher
        %td= link_to 'Edit', edit_teacher_path(teacher)
        %td= link_to 'Destroy', teacher, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Teacher', new_teacher_path
