- provide(:title, 'あなたのプロフィール')

%p
  %b 名前:
  = @teacher.name
%p
  %b 年齢:
  = @teacher.age
%p
  %b 学歴:
  = @teacher.educational_background
%p
  %b なりたい教師像:
  = @teacher.vision
%p
  %b 得意領域:
  = @teacher.strength
%p
  %b 勤務可能時間帯:
  = @teacher.shift_id

= link_to 'Edit', edit_teacher_path(@teacher), class: 'btn btn-default'
