- provide(:title, @teacher.name)

%p
  %b 名前:
  = @teacher.name
%p
  %b 年齢:
  = @teacher.age
%p
  %b 学歴:
  = @teacher.educational_background
%p
  %b なりたい教師像:
  = @teacher.vision
%p
  %b 得意領域:
  = @teacher.strength
%p
  %b 勤務可能時間帯:
  = @teacher.shift_id

= link_to 'お気に入り追加', '#', class: 'btn btn-default'
= link_to 'メッセージを送信', '#', class: 'btn btn-success'
