!!!
%html
  %head
    %title= full_title(yield(:title))
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/header'

    - flash.each do |message_type, message|
      = content_tag(:div, message,
                    class: "flash text-center alert alert-#{message_type}")

    -# for Landing page
    - if request.path == '/'
      = yield

    - else
      .container.wrapper
        - if yield(:title) != ''
          .page-header
            %h2= yield(:title)
        = yield

    = render 'layouts/footer'

  =# render 'layouts/modal'

  :javascript
    $.variables = []
    $.variables.facebook_app_id = "#{ENV['FACEBOOK_APP_ID']}"
